@media (max-width: 481px) {
    .c1 {
        width: 320px;
    }
}

@media (min-width: 481px) {
    .c1 {
        width: 960px;
    }
}

.c1 {
    height: 200px;
    background-color: blue;
}